* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: row;
}
#code,
#graph {
  height: 100vh;
}
#code {
  width: 100%;
  max-width: 500px;
  background: #444;
}
#graph {
  flex: 1;
  background: #111;
}
