* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main#container {
  width: 100%;
  height: 100vh;
}
#ui {
  display: flex;
  flex-direction: row;
  height: 100%;
}
#code,
#graph {
  height: 100%;
}
#code {
  width: 100%;
  max-width: 500px;
  background: #444;
}
#graph {
  flex: 1;
  background: #111;
}
